*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  background-color: #031c2c;
}

/****************** APP *************************/
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #0e334b;
  background-image: linear-gradient(
    to right top,
    #0e334b,
    #01384b,
    #003c49,
    #044046,
    #124442
  );
  background-attachment: fixed;
  color: whitesmoke;
  font-family: "Concert One";
}
/****************** INTRO *************************/

/****************** NavBar *************************/
#main-navbar {
  background-color: #161616;
}
#main-title {
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.25);
  display: block;
  color: rgb(46, 87, 223);
  background: url("https://i.ibb.co/RDTnNrT/animated-text-fill.png");
  background-size: auto 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 150s linear infinite;
}

@keyframes shine {
  from {
    background-position: center 50%;
  }
  to {
    background-position: center 250;
  }
}

#nav-link {
  display: flex;
  position: relative;
  color: #fff5ee;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
#nav-link,
#nav-link:after {
  transition: all 0.5s;
}

#nav-link:after {
  content: " ";
  width: 0%;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 1;
  background: #994c27;
  height: 2px;
}

#nav-link:hover:after {
  width: 100%;
}

/****************** FOOTER *************************/
#main-footer {
  background-color: #1e1d22;
  font-family: "Coda";
  height: 30px;
}

/****************** ICON *************************/
.hover-fx {
  color: whitesmoke;
  width: 10px;
  height: 10px;
}
/****************** PRESENTATION *************************/
.przh1 {
  color: #853a3a;

  font-weight: bold;
  font-family: monospace;
  letter-spacing: 5px;
  cursor: pointer;
}
.przh1 span {
  transition: 1s linear;
}
.przh1:hover span:nth-child(1) {
  margin-right: 2px;
}
.przh1:hover span:nth-child(1):after {
  content: "'";
}
.przh1:hover span:nth-child(2) {
  margin-left: 30px;
}
.przh1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #178351, 0 0 20px #178351, 0 0 40px #178351;
}
